//ProfileList.scss
@import url(Common.scss);


.header1 {
  background: transparent;
}

.title_bar > .left_item > a {
  opacity: 1;
  font-size: 20px;
}

.main1 {
  height:65vh;

  background-image: url(../images/bg_default.png); 
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size:cover;

.background {
   height:65vh;
  //  background-image: url(../images/bg_default.png);
  //  background-repeat: no-repeat;
  //  background-position: 0 0;
  //  background-size: cover;
}

.Kprofile {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;


.Kprofile_img {
  position: absolute;
  left: 50%;
  top: -65px;
  width: 100px;
  height: 100px;
  margin-left: -50px;
}

.Kprofile_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;


.Kprofile_name {
  font-size: 16px;
  margin:5px 0 5px 0;
}

.Kprofile_cont input {
  width: 148px;
  height: 24px;
  margin: 20px 0 20px;
  padding: 0 5px;
  text-align: center;
  border: none;
}

.Kprofile_menu {
  display: flex;

  li {
    margin: 20px 6px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
    }

    span {
      display: block;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      line-height: 52px;
      text-align: center;
      margin-bottom: 15px;
      background-color: #F2F2F2;
      color: #513736;
      font-size: 20px;
          }
        }
      }
    }
  }
}