// Myprofile.scss
.myheader {
  background-color:rgba(0,0,0, 0.4);
}

.title_bar > .left_item > a {
  opacity: 1;
  font-size: 20px;
}


   
.mymain {
   height:93vh;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: cover;
   background-color:rgba(0,0,0, 0.4);

  .mybackimg { 
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height:100%;
    width:100vw;
    left:0;
    top:0;
  }

.mybackground {
  // height:65vh;
  //  background-image: url(../images/bg_default.png);
  //  background-repeat: no-repeat;
  //  background-position: 0 0;
  //  background-size: cover;
}

.myprofile {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  top:-30%;


.myprofile_img {
  position: absolute;
  left: 50%;
  top: -65px;
  width: 100px;
  height: 100px;
  margin-left: -50px;
}

.myprofile_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

.myprofile_name {
  font-size: 16px;
  color:#fff;
  margin:5px 0 5px 0;
  background-color: transparent;
  border:transparent;
  text-align: center;
}

.myprofile_email {
  font-size: 14px;
  color:#fff;
  margin:5px 0 5px 0;
  background-color: transparent;
  border:transparent;
  text-align: center;

  &::placeholder{
    text-shadow:1px 1px 1px rgb(0,0,0 );
    color:#f2f2f2;
  }
}

.myprofile_menu {
  display: flex;

  li {
    margin: 20px 6px;
    

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;

      p {
        color:#fff;
      }
    }

    span {
      display: block;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      line-height: 52px;
      text-align: center;
      margin-bottom:5px;
      // background-color: #F2F2F2;
      color: #f2f2f2;
      font-size: 20px;
          }
        }
      }
    }
  }
}

// NEW Photo
.myprofile-edit {
  z-index:10;
  display:flex;
  justify-content: center;
  align-items:center;
  position: absolute;
  border-radius:50%;
  left:80px;
  width:30px;
  height:30px;
  background-color:#fff;
}

.mybackcamera {
  position:absolute;
  left:50%;
  top:20%;
  transform:translateX(-50%);
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#fff;
  width:30px;
  height:30px;
  border-radius:50%;
}

.attach-new {
  .attach-new-image{
    position:absolute; 
    width:100px;
    height:100px;
    margin:-55px 49px;
    border-radius:80%;
    max-width:50%;
  }
  .attach-select{
    .selector{
      position:absolute;
      padding:5px 10px;
      background-color:rgba(158,158,158,0.7);
      color:#0A6ECD;
      border-radius:10px;    
      top:8px; 
    }
    .attach-cancel {
      left:28%;
    }
    .attach-submit {
      right:28%;
    }
    }
}
