//ProfileList.scss
@import url(Common.scss);

// body > .header1 {
//   background:transparent;
  
//   .title_bar > .left_item > a{
//     opacity:1; font-size:20px;
//   }
// }

body > .main1 {
  height:calc(100% - 10px);

  .background {
    height:65%; background:url(../images/bg_default.png) no-repeat 0 0;
  }
}
